table.feedback-list {
    width: 100%;
}

table.feedback-list tr th{ 
    background-color: #2758B3; color: #fff; text-align: left;  padding:3px;
    border: none;
}

.feedback-list tr td {
    padding:6px;
}

.feedback-list tr.main td {
    background-color: #fff;
}

.feedback-list tr.alt td {
    background-color: #E6EEFB; 
}

.feedback-list tr.bottom td {
    border-bottom: thin solid #999;
}

.feedback-submit-button {
   margin:0 5px;
   padding:0.3em 2em;
   margin-left:5em
   background:#C0C0C0 top left repeat-x;
   border:1px solid #000; color:#000;
   font-weight:bold;
   opacity:0.2;
}
